# 1xbet_offensive 데이터를 기준으로
## 연도, 선수 이름, (해당 시즌 기준 이적 후)팀, 포지션 정보를 가지는 테이블 생성
## 고유번호, 해당 년도 나이를 입력을 추가

In [1]:
import pandas as pd

In [2]:
# offensive data csv파일 받아오기
offensive_path = './data/new/1xbet_offensive_edited/1xbet_offensive_{}_edited.csv'

start_year, end_year = 2014, 2022
stats_df = pd.DataFrame()

for year in range(start_year, end_year+1):
    o_df = pd.read_csv(offensive_path.format(year))
    o_df['Year'] = year
    stats_df = pd.concat([stats_df, o_df])

In [3]:
# player id data csv파일 받아오기
offensive_path = './data/origin/1xbet_player_id/1xbet_player_id_{}.csv'

start_year, end_year = 2014, 2022
id_df = pd.DataFrame()

for year in range(start_year, end_year+1):
    temp = pd.read_csv(offensive_path.format(year))
    temp['Year'] = year
    id_df = pd.concat([id_df, temp])

In [4]:
id_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4860 entries, 2014 to 2022
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Name       4860 non-null   object
 1   Player Id  4860 non-null   int64
 2   Year       4860 non-null   int64
dtypes: int64(2), object(1)
memory usage: 151.9+ KB

In [5]:
stats_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4860 entries, 0 to 568
Data columns (total 17 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      4860 non-null   object
 1   Team      4860 non-null   object
 2   Age       4860 non-null   int64
 3   Position  4860 non-null   object
 4   Apps      4860 non-null   int64
 5   Mins      4860 non-null   int64
 6   Goals     4860 non-null   int64
 7   Assists   4860 non-null   int64
 8   SpG       4860 non-null   float64
 9   KeyP      4860 non-null   float64
 10  Drb       4860 non-null   float64
 11  Fouled    4860 non-null   float64
 12  Off       4860 non-null   float64
 13  Disp      4860 non-null   float64
 14  UnsTch    4860 non-null   float64
 15  Rating    4860 non-null   float64
 16  Year      4860 non-null   int64
dtypes: float64(8), int64(6), object(3)
memory usage: 683.4+ KB

In [6]:
stats_df = stats_df.reset_index()
id_df = id_df.reset_index()

In [7]:
# stats_df에 id를 merge한 후 players table 작업
stats_df = pd.merge(stats_df, id_df['Player Id'], left_index = True, right_index = True)
stats_df

,index,Name,Team,Age,Position,Apps,Mins,Goals,Assists,SpG,KeyP,Drb,Fouled,Off,Disp,UnsTch,Rating,Year,Player Id
0,0,Eden Hazard,Chelsea,32,Forward,38,3379,14,9,2.052632,2.631579,4.763158,2.973684,0.105263,2.710526,2.105263,7.956842,2014,33404
1,1,Alexis Sanchez,Arsenal,34,Forward,35,2953,16,8,3.485714,2.342857,3.285714,2.057143,0.228571,3.314286,2.114286,7.810857,2014,25244
2,2,Sergio Aguero,Man City,35,Forward,33,2540,26,8,4.484848,1.000000,2.636364,0.757576,1.000000,2.727273,1.939394,7.671515,2014,14260
3,3,Cesc Fabregas,Chelsea,36,Midfielder,34,2890,3,18,1.264706,2.794118,1.058824,1.058824,0.029412,1.411765,1.000000,7.618529,2014,8040
4,4,Santi Cazorla,Arsenal,38,Midfielder,37,2992,7,11,2.513514,2.108108,2.351351,1.648649,0.054054,1.486486,1.000000,7.599459,2014,4522
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4855,564,Dexter Lembikisa,Wolves,19,Defender,1,22,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.880000,2022,430871
4856,565,Cameron Peupion,Brighton,20,Midfielder,1,5,0,0,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,5.850000,2022,454792
4857,566,Andrew Moran,Brighton,19,Midfielder,1,11,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,5.830000,2022,423722
4858,567,Shane Duffy,Fulham,31,Defender,5,17,0,0,0.200000,0.000000,0.200000,0.200000,0.000000,0.000000,0.200000,5.786000,2022,75692
4859,568,Yan Valery,Southampton,24,Defender,1,46,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000,1.000000,5.740000,2022,323791

In [8]:
# 시즌 도중 이적하여 한 시즌에 중복 데이터가 들어있는 선수 예시
stats_df[stats_df['Name'] == 'Theo Walcott'][['Name', 'Team', 'Year']]

              Name         Team  Year
339   Theo Walcott      Arsenal  2014
897   Theo Walcott      Arsenal  2015
1221  Theo Walcott      Arsenal  2016
1702  Theo Walcott      Everton  2017
2147  Theo Walcott      Arsenal  2017
2504  Theo Walcott      Everton  2018
3043  Theo Walcott      Everton  2019
3500  Theo Walcott  Southampton  2020
3734  Theo Walcott      Everton  2020
4243  Theo Walcott  Southampton  2021
4669  Theo Walcott  Southampton  2022

In [9]:
# 선수 정보만 가져온 테이블 - 시즌 중 이적한 선수의 데이터를 이적한 팀 기준으로 정리해야 함
player_table = stats_df[['Year', 'Name', 'Age', 'Team', 'Position', 'Player Id']]
# 인덱스 리셋
player_table = player_table.reset_index()

# 비교를 위한 원본 데이터 유지
origin_player = player_table

In [10]:
# 정리해야 할 선수 목록 선별
# 선수별로 Year의 고유값 갯수가 데이터 갯수 보다 작은 경우

# 고유 이름
names = player_table.Name.unique()
# 이름 순회하며 Year갯수와 Name갯수를 비교
dupli_names = [] # 정리해야 할 선수 목록
for name in names:
    player = player_table[player_table['Name'] == name]
    if (len(player['Year'].unique()) < player['Name'].count()):
        dupli_names.append(name)

정리해야 하는 선수들의 경우  
"문제가 있는 년도 팀명 --> 2개  
이전 혹은 이후 년도 팀명 --> 1개"  
의 구조를 따른다.  
이전, 이후 년도 팀명 중 하나를 사용하여 문제가 있는 년도의 팀명을 통합

In [11]:
# 이전 팀명과 비교
def compare_before(target, name):
    # 타켓 년도, 선수
    player = player_table[(player_table['Year'] == target) & (player_table['Name'] == name)]
    
    # 비교할 이전 시즌이 있는 경우
    years = player_table[player_table['Name'] == name]['Year'].unique()
    if (target - 1) in years:
        # 비교할 이전 시즌 팀명
        compare_team = player_table[(player_table['Year'] ==  (target - 1)) \
                                            & (player_table['Name'] == name)]['Team'].unique()[0]
        # 타켓 년도 두 개의 팀명
        target_team1 = player['Team'].unique()[0]
        target_team2 = player['Team'].unique()[1]

        # 작년 소속팀, 올해 두 개의 소속팀이 모두 다르다면 내년 팀과 비교
        if target_team1 != compare_team != target_team2:
            return compare_after(target, name)

        # 작년 소속팀과 같으면 인덱스 저장 (삭제를 위해)
        if target_team1 == compare_team:
            idx = player.index.unique()[0]
            return idx

        if target_team2 == compare_team:
            idx = player.index.unique()[1]
            return idx
    else:
        idx = player.index.unique()[0]
        return idx

In [12]:
# 이후 팀명과 비교
def compare_after(target, name):    
    # 타켓 년도, 선수
    player = player_table[(player_table['Year'] == target) & (player_table['Name'] == name)]
    # 비교할 이후 시즌이 있는 경우
    years = player_table[player_table['Name'] == name]['Year'].unique()
    if (target + 1) in years:
        # 비교할 이후 시즌 팀명
        compare_team = player_table[(player_table['Year'] ==  (target + 1)) \
                                            & (player_table['Name'] == name)]['Team'].unique()[0]

        # 타켓 년도 두 개의 팀명   
        target_team1 = player['Team'].unique()[0]
        target_team2 = player['Team'].unique()[1]

        # 내년 소속팀과 다르면 인덱스 저장 (삭제를 위해)
        if target_team1 != compare_team:
            idx = player.index.unique()[0]
            return idx

        if target_team2 != compare_team:
            idx = player.index.unique()[1]
            return idx
    else:
        idx = player.index.unique()[0]
        return idx

In [13]:
# 선수 데이터 삭제 함수
def del_player(name):
    # 특정 선수 이름을 통해 중복이 있는 년도를 뽑아 타켓 년도 추출
    player = player_table[player_table['Name'] == name]
    dupli_year = player.groupby('Year')['Name'].count()
    targets = dupli_year[dupli_year > 1].index
    
    idxs = []
    
    # 타켓 년도 별로 선수 데이터 정리
    for target in targets:
        if target == 2014:
            idxs.append(compare_after(target, name))     
        elif target == 2022:
            idxs.append(compare_before(target, name))    
        else:
            idxs.append(compare_before(target, name))
            
    return idxs

In [14]:
# 정리가 필요한 선수 리스트를 순회하며 데이터 정리
for name in dupli_names:
    idxs = del_player(name)
    for idx in idxs:
        player_table = player_table.drop(index = idx)

In [15]:
# 한 시즌에 중복 데이터가 있는 경우 체크

names = player_table.Name.unique()
# 이름 순회하며 Year갯수와 Name갯수를 비교
dupli_names = []
for name in names:
    player = player_table[player_table['Name'] == name]
    if (len(player['Year'].unique()) < player['Name'].count()):
        dupli_names.append(name)
dupli_names

[]

In [16]:
# 이전 데이터와 현재 데이터 비교
display(origin_player[origin_player['Name'] == 'Danny Welbeck'])
player_table[player_table['Name'] == 'Danny Welbeck']

      index  Year           Name  Age      Team Position  Player Id
62       62  2014  Danny Welbeck   32   Arsenal  Forward      39308
420     420  2014  Danny Welbeck   32   Man Utd  Forward      39308
643     643  2015  Danny Welbeck   32   Arsenal  Forward      39308
1431   1431  2016  Danny Welbeck   32   Arsenal  Forward      39308
1998   1998  2017  Danny Welbeck   32   Arsenal  Forward      39308
2558   2558  2018  Danny Welbeck   32   Arsenal  Forward      39308
3070   3070  2019  Danny Welbeck   32   Watford  Forward      39308
3443   3443  2020  Danny Welbeck   32  Brighton  Forward      39308
3960   3960  2021  Danny Welbeck   32  Brighton  Forward      39308
4419   4419  2022  Danny Welbeck   32  Brighton  Forward      39308

      index  Year           Name  Age      Team Position  Player Id
62       62  2014  Danny Welbeck   32   Arsenal  Forward      39308
643     643  2015  Danny Welbeck   32   Arsenal  Forward      39308
1431   1431  2016  Danny Welbeck   32   Arsenal  Forward      39308
1998   1998  2017  Danny Welbeck   32   Arsenal  Forward      39308
2558   2558  2018  Danny Welbeck   32   Arsenal  Forward      39308
3070   3070  2019  Danny Welbeck   32   Watford  Forward      39308
3443   3443  2020  Danny Welbeck   32  Brighton  Forward      39308
3960   3960  2021  Danny Welbeck   32  Brighton  Forward      39308
4419   4419  2022  Danny Welbeck   32  Brighton  Forward      39308

In [17]:
# 년도, 이름, 팀, 포지션이 정리 된 상태
player_table

      index  Year              Name  Age         Team    Position  Player Id
0         0  2014       Eden Hazard   32      Chelsea     Forward      33404
1         1  2014    Alexis Sanchez   34      Arsenal     Forward      25244
2         2  2014     Sergio Aguero   35     Man City     Forward      14260
3         3  2014     Cesc Fabregas   36      Chelsea  Midfielder       8040
4         4  2014     Santi Cazorla   38      Arsenal  Midfielder       4522
...     ...   ...               ...  ...          ...         ...        ...
4855   4855  2022  Dexter Lembikisa   19       Wolves    Defender     430871
4856   4856  2022   Cameron Peupion   20     Brighton  Midfielder     454792
4857   4857  2022      Andrew Moran   19     Brighton  Midfielder     423722
4858   4858  2022       Shane Duffy   31       Fulham    Defender      75692
4859   4859  2022        Yan Valery   24  Southampton    Defender     323791

[4756 rows x 7 columns]

In [18]:
player_table = player_table.rename(columns = {'Age' : 'Curr_Age'})

In [19]:
# 년도 기준 나이 데이터 생성
player_table['Age'] = player_table['Curr_Age'] - (2023 - player_table['Year'])

In [20]:
player_table

,index,Year,Name,Curr_Age,Team,Position,Player Id,Age
0,0,2014,Eden Hazard,32,Chelsea,Forward,33404,23
1,1,2014,Alexis Sanchez,34,Arsenal,Forward,25244,25
2,2,2014,Sergio Aguero,35,Man City,Forward,14260,26
3,3,2014,Cesc Fabregas,36,Chelsea,Midfielder,8040,27
4,4,2014,Santi Cazorla,38,Arsenal,Midfielder,4522,29
...,...,...,...,...,...,...,...,...
4855,4855,2022,Dexter Lembikisa,19,Wolves,Defender,430871,18
4856,4856,2022,Cameron Peupion,20,Brighton,Midfielder,454792,19
4857,4857,2022,Andrew Moran,19,Brighton,Midfielder,423722,18
4858,4858,2022,Shane Duffy,31,Fulham,Defender,75692,30
4859,4859,2022,Yan Valery,24,Southampton,Defender,323791,23

In [21]:
# 출생년도 생성
player_table['Birth Year'] = 2023 - player_table['Curr_Age']

In [22]:
# 컬럼 순서 변경 및 정리

player_table = player_table[['Player Id', 'Name', 'Birth Year', 'Age', 'Team', 'Position', 'Year']]
player_table.rename(columns = {'Year' : 'year'}, inplace = True)
player_table

/var/folders/5r/gwhqhzlx7g5_xdjhhpzr42_h0000gn/T/ipykernel_69341/4186928998.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  player_table.rename(columns = {'Year' : 'year'}, inplace = True)

,Player Id,Name,Birth Year,Age,Team,Position,year
0,33404,Eden Hazard,1991,23,Chelsea,Forward,2014
1,25244,Alexis Sanchez,1989,25,Arsenal,Forward,2014
2,14260,Sergio Aguero,1988,26,Man City,Forward,2014
3,8040,Cesc Fabregas,1987,27,Chelsea,Midfielder,2014
4,4522,Santi Cazorla,1985,29,Arsenal,Midfielder,2014
...,...,...,...,...,...,...,...
4855,430871,Dexter Lembikisa,2004,18,Wolves,Defender,2022
4856,454792,Cameron Peupion,2003,19,Brighton,Midfielder,2022
4857,423722,Andrew Moran,2004,18,Brighton,Midfielder,2022
4858,75692,Shane Duffy,1992,30,Fulham,Defender,2022
4859,323791,Yan Valery,1999,23,Southampton,Defender,2022

In [23]:
# 년도 별로 csv 파일 저장
start_year, end_year = 2014, 2022

for year in range(start_year, end_year+1):
    table = player_table[player_table['year'] == year]
    table.to_csv(path_or_buf = f'./data/new/players/players_{year}.csv', encoding = 'utf-8')

In [24]:
# 전체 데이터 csv 파일 저장
player_table.to_csv(path_or_buf = f'./data/new/players_all.csv', encoding = 'utf-8')