In [1]:
import numpy as np
import pandas as pd

In [50]:
import chardet

with open('./data/EPL_20_21.csv', 'rb') as rawdata:
    result = chardet.detect(rawdata.read(100000))
    
print(result)

{'encoding': 'utf-8', 'confidence': 0.99, 'language': ''}

In [30]:
data = pd.read_csv('./data/EPL_20_21.csv', encoding = 'ISO-8859-1')

In [72]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 532 entries, 0 to 531
Data columns (total 18 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Name                   532 non-null    object
 1   Club                   532 non-null    object
 2   Nationality            532 non-null    object
 3   Position               532 non-null    object
 4   Age                    532 non-null    int64
 5   Matches                532 non-null    int64
 6   Starts                 532 non-null    int64
 7   Mins                   532 non-null    int64
 8   Goals                  532 non-null    int64
 9   Assists                532 non-null    int64
 10  Passes_Attempted       532 non-null    int64
 11  Perc_Passes_Completed  532 non-null    float64
 12  Penalty_Goals          532 non-null    int64
 13  Penalty_Attempted      532 non-null    int64
 14  xG                     532 non-null    float64
 15  xA                     532 non-null    float64
 16  Yellow_Cards           532 non-null    int64
 17  Red_Cards              532 non-null    int64
dtypes: float64(3), int64(11), object(4)
memory usage: 74.9+ KB

In [69]:
data.groupby('Club')['Passes_Attempted'].sum().sort_values(ascending = False)

Club
Manchester City            26688
Liverpool FC               25526
Chelsea                    25151
Manchester United          21960
Arsenal                    21291
Leicester City             20572
Leeds United               20043
Tottenham Hotspur          19872
Brighton                   19456
Fulham                     18860
Southampton                18761
Wolverhampton Wanderers    18661
Everton                    18246
Aston Villa                16556
West Ham United            16358
Sheffield United           15843
Crystal Palace             15092
Burnley                    15043
Newcastle United           14218
West Bromwich Albion       13646
Name: Passes_Attempted, dtype: int64

In [56]:
data.Club.unique()

array(['Chelsea', 'Manchester City', 'Manchester United', 'Liverpool FC',
       'Leicester City', 'West Ham United', 'Tottenham Hotspur',
       'Arsenal', 'Leeds United', 'Everton', 'Aston Villa',
       'Newcastle United', 'Wolverhampton Wanderers', 'Crystal Palace',
       'Southampton', 'Brighton', 'Burnley', 'Fulham',
       'West Bromwich Albion', 'Sheffield United'], dtype=object)